nav{
  height: 50px;
}
aside a{
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 2px solid transparent;
}
aside a:hover{
  color: #fff;
}
.active{
  border: 2px solid #fff;
}